In [ ]:
n= int(input('Enter the number'))

sum= 0
for i in range (1,n+1):
  sum= sum+i
print(sum)

Enter the number5
15

In [ ]:
N= int(input('Enter the number'))

n= 0
fact=  1

for i in range(1,N+1):

  fact= fact*i
  n = n+i/fact

print(n)

Enter the number2
2.0

In [ ]:
for i in range (1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
r= int(input('Enter no of rows'))

for i in range(1,r+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

Enter no of rows3
*
**
***

In [ ]:
r= int(input('enter no of row'))

for i in range(1,r+1):
  for j in range(1,i+1):
    print(j, end='')
  for k in range(i-1,0,-1):
      print(k, end= '')
  print()

enter no of row5
1
121
12321
1234321
123454321

In [ ]:
5

5

In [13]:
row= int(input('Enter rows'))
for i in range(1,row+1):
  for j in range(1,i+1):
    print(j,end=' ')

  for k in range(i-1,0,-1):
    print(k, end=' ')
  print()

Enter rows4
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

In [18]:
#get 10-100 range and print only prime numbers

start_no= int(input('Enter the no.'))
end_no= int(input('Enter the no.'))

for i in range(start_no,end_no+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
      print(i)

Enter the no.10
Enter the no.100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [15]:
5//10

0