### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here

Salary= int(input('Enter the CTC amount in INR'))
#Deduction= Salary-(Salary*0.18)
# print(Deduction)
if Salary < 500000:
    print('CTC after deduction :',(Salary-(Salary*0.18)/12))
elif Salary >= 50000 and Salary < 1000000:
    print('CTC after deduction:',((Salary-(Salary*0.28))/12))
elif Salary >= 1000000 and Salary < 2000000:
    print('CTC after deduction:',((Salary-(Salary*0.38))/12))
else:
    print('CTC after deduction:',((Salary-(Salary*0.48))/12))

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
angle1= int(input('Enter value for 1st Angle in Deg'))
angle2= int(input('Enter value for 2md Angle in Deg'))
angle3= int(input('Enter value for 3rd Angle in Deg'))

if angle1+angle2+angle3 == 180:
  print('Angles can form Triangle')
else:
  print('Angles can not form Triangle')

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cost= float(input('Enter Cost Price'))
sell= float(input('Enter Selling Price'))

if cost < sell:
    print('profit')

elif cost == sell:
    print('no profit no loss')
    
else:
    print('loss')

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
menu= input('''
1. Convert cm to ft
2. Convert km to miles
3. Convert USD to INR
4. Exit
''')

if menu == '1':
  cm= float(input('Enter Length in cm :'))
  print(cm*0.032808399)
elif menu == '2':
  km = float(input('Enter Distance in km :'))
  print(km*3280.84)
elif menu == '3':
  USD= float(input('Enter Currency in USD'))
  print(USD*82.2)
else:
  print('Exit')

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Initializing the first two terms
a, b = 0, 1

# Display the first two terms
print("Fibonacci Series up to 10 terms:")
print(a, end=' ')
print(b, end=' ')

# Generating the next terms using a while loop
while a + b <= 41:
    c = a + b
    print(c, end=' ')
    
    # Update the values for the next iteration
    a, b = b, c

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
num= int(input('Enter the number for fact'))

fact= 1

for i in range (1,num+1):
    fact= fact*i
    
print(fact)

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [2]:
number = int(input('enter the number'))

rev = 0

while number>0:
  last = number%10
  rev = rev*10 + last
  number = number//10

print(rev)

enter the number12345
54321

In [4]:
1236%10

6

In [5]:
1236//10

123

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
N= int(input('Enter the number'))
total = 0
no. = 1

while i<=5:
    if i%5 == 0
    i= i+1
    continue
total+=no.

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here