In [4]:
n= int(input('Enter the number'))

sum= 0
for i in range (1,n+1):
  sum= sum+i
print(sum)

Enter the number5
15

In [11]:
N= int(input('Enter the number'))

n= 0
fact=  1

for i in range(1,N+1):

  fact= fact*i
  n = n+i/fact

print(n)

Enter the number2
2.0

In [15]:
for i in range (1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [20]:
r= int(input('Enter no of rows'))

for i in range(1,r+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

Enter no of rows3
*
**
***

In [30]:
r= int(input('enter no of row'))

for i in range(1,r+1):
  for j in range(1,i+1):
    print(j, end='')
  for k in range(i-1,0,-1):
      print(k, end= '')
  print()

enter no of row5
1
121
12321
1234321
123454321

In [29]:
5

5